* {
	box-sizing: border-box;
}

body {
	font-family: Consolas, Menlo, "Courier New", monospace;
	font-size: 20px;
	background: #1d1d19;
	text-align: center;
	line-height: 1.5;
	margin: 0;
	height: 100vh;
}

.container {
	padding: 2em 4em;
}

header {
	padding: 0;
	margin: 0;
}

h1 {
	color: rgb(61, 140, 231);
}

h1 > span {
	color: #f5f5f5;
}

a {
	display: inline-block;
	color: rgb(61, 140, 231);
	text-decoration: none;
	text-align: left;
}

a > span {
	color: #f5f5f5;
}

a  > span:hover {
	text-decoration: underline;
	text-decoration-color: #f5f5f5;
}

hr {
	color: #608b4e;
	width: 91%;
	max-width: 900px;
	height: 4px;
	margin: 1em auto;
	border: none;
}

hr::before {
	position: relative;
	left: -50%;
	top: -0.65em;
	content: "<!--"
}

hr::after {
	position: relative;
	content: "-->";
	top: -0.65em;
	right: -50%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #1d1d19;
	text-align: left;
}

.web-links {
	display: block;
	width: 100%;
}

main {
	margin: 1em auto;
	display: block;
	width: 100%;
	background: #1d1d19;
	border-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.mobile-nav {
	display: none;
}

section {
	min-height: 200px;
	padding: 0;
	background-color: #1d1d19;
}

@media screen and (max-width: 960px) {
	.container {
		flex-direction: column;
	}
	.web-nav {
		display: none;
	}
	.mobile-nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 5em;
		display: block;
		width: 100%;
		order: 1;
	}
	.mobile-nav>a {
		margin: 0 2em;
	}
	main {
		order: 2;
	}
}